---
---

@import "{{ site.theme }}";

.page-header {
    /*color: #fff;*/
    text-align: center;
    /*background-color: red;
    background-image: linear-gradient(120deg, white, black);
    background-color: white;*/
    /*background-image: url("{{ site.url }}/ejemplo/assets/img/Alianzas-articulo.jpg");*/
    /*background-image: url("{{ site.url }}/ejemplo/assets/img/banner1.jpg");*/
    background-image: url("{{ site.url }}/ejemplo/assets/img/banner2.jpg");
    /*background-image: url("{{ site.url }}/ejemplo/assets/img/banner3.jpg");*/
    background-size: 1080px 385px;
}
/*
.project-name {
    color: black;
}

.project-tagline {
    color: black;
}
*/
