---
---

@import "{{ Cayman }}";

.page-header {
    /*color: #fff; */
    text-align: center;
    /*background-color: red;
    background-image: linear-gradient(120deg, white, black);
    background-color: white;*/
    background-image: url("./img/Alianzas-articulo.jpg");
}
